@{
    ViewData["Title"] = "Home Page";
}

<h2>Welcome to TV Ketchup</h2>
<p>This is gonna be a super dope cooperative/competitive tv tracking app. For now it's just a list of LOST episodes. ¯\_(ツ)_/¯</p>
